<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="OperationsSoap" 
                messageEncoding="Text"
                textEncoding="utf-8"
                         />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://ef001.cloudapp.net/app/operations.asmx"
                binding="basicHttpBinding" bindingConfiguration="OperationsSoap"
                contract="FacturacionElectronicaWS.OperationsSoap" name="OperationsSoap" />
        </client>
    </system.serviceModel>
</configuration>